<div>
  <div>
    <h1>
      <%= @the_session.title %>
    </h1>

    <div>
      <div>
        <a href="/sessions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_session/<%= @the_session.id %>">
          Delete session
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Restaurant
      </dt>
      <dd>
        <%= @the_session.restaurant %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_session.owner %>
      </dd>
